nav {
    background: rgba(0, 0, 0, 0.3);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);    

}

nav a{
    background-color: transparent;
    padding: 0.5rem;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;
    border-radius: 1.0rem;
}

nav a:hover{
    background:rgba(0, 0, 0, 0.5);
}

nav a:focus{
    outline: 0 !important;
}

nav a.active{
    color: var(--color-white);
    background: var(--color-primary-variant);
    /* background:rgba(147, 90, 90, 0.5); */

}

@media screen and (max-width: 1024px) {

    nav a:hover{
        background:transparent;
    }
    nav a.active{
        color: var(--color-white);
        background: var(--color-primary-variant);
    
    }

}


